/*   "Open Sans", Arial, sans-serif;  */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
.nav-logo img{
	height: 85px;
}
.nav-cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container{
	max-width: 1080px;
	margin: 0 auto;
}
.banner{
	height: 510px;
	background: url(img/banner-3-1.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.header-button-link{
	color: #fff;
	text-decoration: none;
}