/*   "Open Sans", Arial, sans-serif;  */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
a{
	text-decoration: none;
	color: #08b6e6;
}

.nav-logo img{
	height: 85px;
}
.nav-cont{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-list{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: auto;
	padding-left: 20px;
}
.nav-list li{
	padding: 0 10px;
	font-size: 18px;
	line-height: 20px;
}
nav a{
	color: #000;
	font-weight: 600;
}


.container{
	max-width: 1150px;
	margin: 0 auto;
}
.banner{
	height: 510px;
	background: url(img/banner-3-1.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.header-button-link{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.banner{
	text-align: center;
}
.header-jumbo{
	padding-top: 150px;
}
.header-jumbo h2{
	font-weight: 300;
	font-size: 46px;
}

.header-jumbo p{
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0 40px 0;
}
.header-jumbo a{
	background-color: #2D89EF;
	border: 1px solid #246ebf;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
}




.cred-list{
	font-size: 21px;
	font-weight: bold;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.subscribe{
	background-color: #08b6e6;
	color: #fff;

}
.subscribe .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0 60px;
}

.subscribe-half{
	width: 50%;
}
.subscribe-half h4{
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 10px;
}
.subscribe-means{
	font-size: 22px;
	width: 43%;
	text-align: center;
}
.subscribe-means ul{
	margin-top: 15px;
	display: inline-block;
	padding: 0 0 23px 16px;
	font-size: 19px;
}
.subscribe-media{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.guest{
	padding: 40px 0 10px;
}
.guest h3{
	text-align: center;
	font-size: 35px;
	margin-bottom: 20px;
}
.guest-row{
	display: flex;
	flex-wrap: wrap;
}
section .feature-info{
	width: calc(50% - 5px);
	display: flex;
	flex-wrap: wrap;
	line-height: 20px;
}
.guest-size{
	width: calc(50% - 5px);
	padding: 10px 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 25px;
}
.guest-size h2{
	font-size: 21px;
	line-height: 25px;
	margin: 10px 0;
}

.episodes{
	background-color: #1c1c1c;
	color: #fff;
	padding: 55px 0;
}
.episodes-main{
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
}

.episodes-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: sans-serif;
	padding: 25px 0;
}

.episodes-about{
	width: calc(25% - 5px);
}
.episodes-about h2{
	font-size: 20px;
	padding-bottom: 20px;
}
.episodes-photo{
	margin: 0 0 25px 0;
}
.episodes-button{
	text-align: center;
	color: #08b6e6;
	border: 2px solid transparent;
	border-radius: 3px;

}
.episodes-btn:hover {
	border: 2px solid transparent;
	background-color: #606060;
	padding: 5px 20px;
	border-radius: 2px;
}

.episodes-btn{
	border: 2px solid;
	color: #08b6e6;
	background-color: #1c1c1c;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  padding: 5px 15px;
  transition: all 0.2s;
  cursor: pointer;
}



.popular{
	padding: 55px 0;
}
.popular-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 92%;
}
.popular-header{
	margin-bottom: 20px;
}
.popular-left{
	font-size: 35px;
}
.popular-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.popular-art{
	display: flex;
	flex-wrap: wrap;
	margin: 15px 5px 15px 0;
}
.popular-about{
	width: 65%;
	margin-left: 10px;
	padding-bottom: 10px;
}
.popular-about h2{
	padding: 0 10px 10px 0;
	font-size: 26px;
	margin-bottom: 10px;
}
.popular-about p{
	line-height: 24px;
	font-size: 16px;
}
.popular-info{
	width: 70%;
}
.popular-social{
	width: 30%;
	text-align: center;
}
.social-right{
	margin-bottom: 30px;
}
.social-facebook{
	position: relative;
}
#like{
	position: absolute;
	top: 86px;
	left: 40px;
}
#share{
	position: absolute;
	top: 86px;
	right: 45px;
}
#us{
	position: absolute;
	top: 6px;
	left: 40px;
}
.social-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



.consume{
	padding: 25px 0;
	background-color: #d0d0d0;
	color: #000;
	line-height: 24px;
}
.consume-header{
	padding: 27px 0;
	width: 80%;
	margin: auto;
}
.consume-wrapper{
	background-color: #1EDEE0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.consume-widget{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
}
.consume-number{
	width: 20%;
	border-radius: 50%;
	background-color: #000;
	text-align: center;
	color: #fff;
}
.consume-media{
	width: 80%;
}









.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-wrap{
	width: 48%;
}

.footer-row img{
	padding: 5px 10px;
	width: 100%;
}