* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin: 0;
}



nav a p{
	font-size: 12px;
	color: #137dab;
}

.wrapper{

}

.nav-logo{
	text-align: center;
}

.nav-list ul li{
	margin: 20px 0;
}

.nav-list ul li a{
	padding: 10px 13px;
	color: #000;
}

.nav-list ul li a:focus{
	color: #429ed7;
}


.main-wrapper{
	max-width: 100%;
	background-color: #000;
}
.main-wrapper .jumbotron{
	background-color: transparent;
	color: #fff;
}
.container{
	max-width: 1024px;
}

#search-ico{
	background: url(img/png/search1.png) center no-repeat;
}

.feature-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}

.popular-art{
	display: flex;
	flex-wrap: wrap;
}
