/*   "Open Sans", Arial, sans-serif;  */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}

a{
	text-decoration: none;
	color: #08b6e6;
}
.clearfix:after{
	content: '';
	clear: both;
}

.nav-logo img{
	height: 85px;
}
.nav-logo a:hover{
	filter: sepia(200%);
}
.nav-cont{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-list{
	width: 70%;
	list-style: none;
	margin: auto;
	padding-left: 20px;
}
.nav-list li{
	display: inline-block;
	padding: 0 10px;
	font-size: 18px;
	line-height: 20px;
}
.list-search{
	width: 15%;
	margin: auto;
}
nav a{
	color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
}
nav a:hover{
	color: #08b6e6;
}
.search:hover{
	filter: brightness(-10%);
}

.container{
	max-width: 1150px;
	margin: 0 auto;
}
.header-main{
	min-height: 510px;
	background: url(img/banner-3-1.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	background-position: center;
}
.header-button-link{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.5s;
}
.header-button-link:hover{
	font-size: 22px;
	border: 2px solid transparent;
	background-color: #C13DA1;
}
.banner{
	text-align: center;
}
.header-jumbo{
	padding-top: 150px;
}
.header-jumbo h2{
	font-weight: 300;
	font-size: 46px;
}

.header-jumbo p{
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0 40px 0;
}
.header-jumbo a{
	background-color: #2D89EF;
	border: 1px solid #246ebf;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
}




.cred-list{
	font-size: 21px;
	font-weight: bold;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.cred-list a:hover{
	filter: brightness(120%);
}


.subscribe{
	background-color: #08b6e6;
	color: #fff;

}
.subscribe .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0 60px;
}
.subscribe a:hover{
	filter: contrast(4);
}
.subscribe-half{
	width: 50%;
}
.subscribe-half h4{
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 10px;
}
.subscribe-means{
	font-size: 22px;
	width: 43%;
	text-align: center;
}
.subscribe-means ul{
	margin-top: 15px;
	display: inline-block;
	padding: 0 0 23px 16px;
	font-size: 19px;
}
.subscribe-media{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.guest{
	padding: 40px 0 10px;
}
.guest h3{
	text-align: center;
	font-size: 35px;
	margin-bottom: 20px;
}
.guest-row{
	display: flex;
	flex-wrap: wrap;
}
section .feature-info{
	width: calc(50% - 5px);
	display: flex;
	flex-wrap: wrap;
	line-height: 20px;
}
.guest-size{
	width: calc(50% - 5px);
	padding: 10px 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 25px;
}
.guest-size h2{
	font-size: 21px;
	line-height: 25px;
	margin: 10px 0;
}

.episodes{
	background-color: #1c1c1c;
	color: #fff;
	padding: 55px 0;
}
.episodes-main{
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
}

.episodes-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: sans-serif;
	padding: 25px 0;
}

.episodes-about{
	width: calc(25% - 5px);
}
.episodes-about h2{
	font-size: 20px;
	padding-bottom: 20px;
}
.episodes-photo{
	margin: 0 0 25px 0;
}
.episodes-button{
	text-align: center;
	color: #08b6e6;
	border: 2px solid transparent;
	border-radius: 3px;

}
.episodes-btn:hover {
	border: 2px solid transparent;
	background-color: #C13DA1;
	padding: 5px 20px;
	border-radius: 2px;
}

.episodes-btn{
	border: 2px solid;
	color: #08b6e6;
	background-color: #1c1c1c;
	font-size: 20px;
	font-weight: 500;
	line-height: 35px;
	padding: 5px 15px;
	transition: all 0.2s;
	cursor: pointer;
}



.popular{
	padding: 55px 0;
}
.popular-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 92%;
}
.popular-header{
	margin-bottom: 20px;
}
.popular-left{
	font-size: 35px;
}
.popular-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.popular-art{
	display: flex;
	flex-wrap: wrap;
	margin: 15px 5px 15px 0;
}
.popular-about{
	color: #333;
	width: 65%;
	margin-left: 10px;
	padding-bottom: 10px;
}
.popular-about h2{
	padding: 0 10px 10px 0;
	font-size: 26px;
	margin-bottom: 10px;
}
.popular-about p{
	line-height: 24px;
	font-size: 16px;
}
.popular-info{
	width: 70%;
}
.popular-social{
	width: 30%;
	text-align: center;
}
.social-right{
	margin-bottom: 30px;
}
.social-facebook{
	position: relative;
}

.social-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.social-footer a{
	font-size: 15px;
}
.social-footer a:hover{
	background-color: #F6F8EB;
	border: 2px solid mistyrose;
}



.consume{
	padding: 25px 0;
	background-color: #d0d0d0;
	color: #000;
	line-height: 24px;

}
.consume-header{
	padding: 27px 0;
	width: 80%;
	margin: auto;
	text-align: center;
}
.consume-header h2{
	font-size: 35px;
	padding-bottom: 10px;
}
.consume-header h4{
	font-weight: bold;
}
.consume-wrapper{
	background-color: #d0d0d0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.consume-widget{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
}
.consume-number{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	border-radius: 50%;
	background-color: #000;
	text-align: center;
	color: #08b6e6;
	font-size: 70px;
	font-weight: bold;
}

.consume-media{
	width: 70%;
	font-size: 22px;
	font-weight: bold;
	padding-left: 30px;
}
.consume-media p{
	padding-bottom: 15px;
}
.consume-media img.blab{
	width: 50px;
}
.consume-media .stitcher{
	width: 102px;
}







.footer-main{
	background-color: #000;
	color: #fff;
	line-height: 24px;
	padding: 4% 0;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
	justify-content: space-between;
}
.footer-wrap{
	width: 47%;
}

.footer-row img{
	padding: 5px 10px;
	width: 100%;
}
.fwr{
	padding-top: 190px;
}
h1{
	font-size: 34px;
	line-height: 30px;
}


.footer-btn{
	text-align: center;
	padding: 50px 0;
}
.foot-btn{
	padding: 10px 17px;
	background-color: transparent;
	border-radius: 8px;
	border: 2px solid;
	font-weight: bold;
	font-size: 20px;
	color: #2ea3f2;
	transition: all 0.2s
}
.foot-btn:hover{

	border: 2px solid transparent;
	background-color: #C13DA1;
	border-radius: 8px;
}

footer{
	padding-bottom: 25px;
	background-color: #222;
	text-align: center;
	line-height: 20px;
}
.legalese{
	color: #fff;
	padding-top: 10px;
}



